/* ------------------------- Reset -------------------------------------------------- */
*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
       url('/fonts/PPNeueMontreal-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: initial;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'PP Neue Montreal', sans-serif;
}

/* link tag owns the color of it's father element */
a {
  color: inherit;
}


/* ------------------------- Hide Scrollbar -------------------------------------------------- */
/* Hide scrollbar for Chrome, Safari and Opera */
/* IE & Edge */
/* Firefox */
body ::-webkit-scrollbar,
body::-webkit-scrollbar {display: none;}
body {-ms-overflow-style: none;}
html {scrollbar-width: none;}


/* ------------------------- Scaling System by Osmo [https://osmo.supply/] -------------------------  */

/* Desktop */
:root {
    --white: #ffffff;
    --gray: #d3d4d7;
    --dark_gray: #636468;
    --black: #0f0f0f;


    --size-unit: 16; /* body font-size in design - no px */
    --size-container-ideal: 1920px; /* screen-size in design - no px */
    --size-container-min: 992px;
    --size-container-max: 1920px;
    --size-container: clamp(var(--size-container-min), 100vw, var(--size-container-max));
    --size-font: calc(var(--size-container) / (var(--size-container-ideal) / var(--size-unit)));
}

/* ------------------------- text selection ---------------------------------------- */
::selection {
  background-color: var(--brand_black_hover);
  color: var(--brand_white);
  text-shadow: none;
}

::-moz-selection {
  background-color: var(--brand_black_hover);
  color: var(--brand_white);
  text-shadow: none;
}


/* Mobile Landscape */
@media screen and (max-width: 767px) {
  :root {
    --size-container-ideal: 550; /* screen-size in design - no px */
    --size-container-min: 480px;
    --size-container-max: 767px;
  }
}

/* Mobile Portrait */
@media screen and (max-width: 479px) {
  :root {
    --size-container-ideal: 390; /* screen-size in design - no px */
    --size-container-min: 320px;
    --size-container-max: 479px;
  }
}

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

h1 {
  line-height: 1.15;
  font-size: 6em;
}

h2 {
  font-size: 2.5em;
  line-height: 1.1;
}

h3 {
  font-size: 2.5em;
  line-height: 1.1;
}

h4 {
  font-size: 1.75em;
  line-height: 1.15;
}

p {
  font-size: 1em;
  line-height: 1.4;
  font-weight: 400;
}

.container_base {
  max-width: var(--size-container);
}

.container_base.medium {
  max-width: calc(var(--size-container) * 0.85);
}

.container_base.small {
  max-width: calc(var(--size-container) * 0.7);
}

body {
  font-size: var(--size-font);
}


#hero{
  height: 100vh;
  background-color: #636468;
}