/* ------------------------- Reset -------------------------------------------------- */
*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
       url('/fonts/PPNeueMontreal-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: initial;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'PP Neue Montreal', sans-serif;
}

/* link tag owns the color of it's father element */
a {
  color: inherit;
}


/* ------------------------- Hide Scrollbar -------------------------------------------------- */
/* Hide scrollbar for Chrome, Safari and Opera */
/* IE & Edge */
/* Firefox */
body ::-webkit-scrollbar,
body::-webkit-scrollbar {display: none;}
body {-ms-overflow-style: none;}
html {scrollbar-width: none;}


/* ------------------------- Scaling System by Osmo [https://osmo.supply/] -------------------------  */

/* Desktop */
:root {
    --white: #ffffff;
    --gray: #d3d4d7;
    --dark_gray: #636468;
    --black: #0f0f0f;


    --grid-width: 1680px;
    --page-padding: 20px;
}

/* ------------------------- text selection ---------------------------------------- */
::selection {
  background-color: var(--brand_black_hover);
  color: var(--brand_white);
  text-shadow: none;
}

::-moz-selection {
  background-color: var(--brand_black_hover);
  color: var(--brand_white);
  text-shadow: none;
}

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

.container-grid {
  width: 100%;
  max-width: calc(var(--grid-width) + (var(--page-padding) * 2));
  margin-inline: auto;
  padding-inline: var(--page-padding);
  /* background-color: yellow; */
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px; 
}


/* ======== HERO ======== */

#hero.parallax-demo-wrap {
  grid-column-gap: 15em;
  grid-row-gap: 15em;
  flex-flow: column;
  width: 100%;
  font-size: min(.85vw, 1rem);
  display: flex;
}

.parallax-demo-hero {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  position: relative;
  overflow: clip;
  background-color: rosybrown;
}

.parallax-demo-bg {
  z-index: 0;
  width: 100%;
  height: 120%;
  position: absolute;
}

.parallax-demo-img {
  object-fit: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.parallax-demo-h {
  position: absolute;
  z-index: 1;
  left: 2rem;
  top: 5rem;
  text-transform: uppercase;
  color: var(--white);
  /* text-align: center; */
  font-weight: 400;
  line-height: 1.15;
  font-size: 2.5em;
  /* background-color: aqua; */
}


.marquee-css {
  color: var(--white);
  /* background-color: #000; */
  width: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
  bottom: 4rem;
}

.marquee-css__list {
  flex: none;
  align-items: center;
  display: flex;
  position: relative;
}

.marquee-css__item {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex: 0;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 10em;
  display: flex;
  /* background-color: orange; */
}

.marquee-css__item-p {
  white-space: nowrap;
  line-height: 1;
  letter-spacing: -3%;
  font-size: 20rem;
  font-weight: 500;
}

/* CSS Keyframe Animation */
@keyframes translateX { 
	to {
    transform: translateX(-100%);
  }
}

[data-css-marquee-list] {
  animation: translateX 30s linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}




/* ======== MISSION ======== */
#mission {
  background-color: var(--white);
  color: var(--black);
  padding-top: clamp(5rem, 10vw, 14rem);
  min-height: 100vh;
}

.mission-text{
  grid-column: 5 / span 8;
  font-size: clamp(36px, 4vw, 64px);
}

.mission-label {
  grid-column: 1 / span 1;
}

.mission-quote{
  margin-top: clamp(3rem, 4vw, 6rem);
  grid-column: 5 / span 8;
}


/* ======== SERVICES ======== */
#services{
  background-color: var(--white);
  height: 100vh;
  color: var(--black);
  border: 1px solid red;
}


/* ======== ABOUT ======== */
#about{
  background-color: var(--black);
  height: 100vh;
  color: var(--white);
}


/* ======== FOOTER PARALLAX ======== */
.footer-wrap {
  position: relative;
  overflow: hidden;
}

.demo-footer {
  grid-column-gap: 7.5em;
  grid-row-gap: 7.5em;
  letter-spacing: -.02em;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100svh;
  padding: 2.5em;
  font-weight: 600;
  display: flex;
  position: relative;
}