/* ------------------------- Reset -------------------------------------------------- */
*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
       url('/fonts/PPNeueMontreal-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: initial;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'PP Neue Montreal', sans-serif;
}

/* link tag owns the color of it's father element */
a {
  color: inherit;
}


/* ------------------------- Hide Scrollbar -------------------------------------------------- */
/* Hide scrollbar for Chrome, Safari and Opera */
/* IE & Edge */
/* Firefox */
body ::-webkit-scrollbar,
body::-webkit-scrollbar {display: none;}
body {-ms-overflow-style: none;}
html {scrollbar-width: none;}


/* ------------------------- Scaling System by Osmo [https://osmo.supply/] -------------------------  */

/* Desktop */
:root {
    --white: #ffffff;
    --gray: #d3d4d7;
    --dark_gray: #636468;
    --black: #0f0f0f;


    --size-unit: 16; /* body font-size in design - no px */
    --size-container-ideal: 1920px; /* screen-size in design - no px */
    --size-container-min: 992px;
    --size-container-max: 1920px;
    --size-container: clamp(var(--size-container-min), 100vw, var(--size-container-max));
    --size-font: calc(var(--size-container) / (var(--size-container-ideal) / var(--size-unit)));
}

